<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> 강좌 정보 </title>
    <style>
        span.price{
            text-decoration:line-through;
        }
    </style>
</head>
<body>
    <h1> 강좌 목록 </h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu">
    </div>

    <div>
        <a href="?">
            <span>전체</span>
            (
            <span th:text="${courseTotalCount}">전체 강좌 수</span>
            )
        </a>
        <th:block th:each="category : ${categoryList}">
            |
            <a th:href="'/course?categoryId=' + ${category.id}">
                <span th:text="${category.categoryName}">카테고리명</span>
                (
                <span th:text="${category.courseCount}">해당 카테고리의 강좌 수</span>
                )
            </a>
        </th:block>
        <hr/>
    </div>

    <ul>
        <li th:each="list : ${list}">
            <div>
                <a th:href="'/course/' + ${list.id}">
                <h3 th:text="${list.subject}"> 강좌명 </h3>
                </a>

                <div>
                    <p th:text="${list.summary}"></p>
                    <p>
                        판매가 : <span class = "price" th:text="${list.price}"></span>
                        할인가 : <span th:text="${list.salePrice}"></span>
                    </p>
                </div>
            </div>

        </li>
    </ul>
</body>
</html>